/* Front-Page
--------------------------------------------- */
h2 {
  color: #af611c;
  padding-left: 12px; }

.front-page__wrapper {
  padding-top: 20px;
  min-height: 80vh; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }

.scroll-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.post-wrapper {
  flex: 0 0 auto;
  margin: 8px;
  border-radius: 24px;
  width: 300px;
  box-shadow: 10px 10px 15px #c1cbcc, -5px 0px 15px #c1cbcc;
  box-sizing: border-box; }

.image-wrapper {
  width: 90%;
  margin: 8px auto;
  text-align: center;
  vertical-align: center; }

.image-wrapper img {
  box-shadow: 1px 1px 5px #c1cbcc;
  border-radius: 14px; }

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 24px; }

.title-wrapper {
  margin: 8px auto;
  width: 90%;
  color: #af611c; }

.title-wrapper h3 {
  margin: 0;
  font-size: 24px; }

.excerpt-wrapper {
  color: #3e3e3b;
  margin: 8px auto;
  width: 90%;
  height: 90px;
  overflow-wrap: break-word; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 298px;
  max-height: 168px;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sidebar-wrapper {
  display: none; }

.show-more {
  display: none; }

.title-tags {
  font-size: 28px;
  color: #0f365b; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .front-page__wrapper {
    display: inline-flex; }
  .sidebar-wrapper {
    display: flex;
    flex: 1;
    height: 1200px;
    width: 100%;
    background-color: red; }
  .scroll-wrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
    overflow-y: none;
    -webkit-overflow-scrolling: none;
    justify-content: center; }
  .title-tags {
    margin-left: 60px; }
  .post-wrapper {
    margin: 24px; }
  .show-more {
    display: block;
    text-align: center;
    color: #af611c; } }

/* Navigation -- Header
--------------------------------------------- */
#whitespace {
  height: 40px;
  width: 100%;
  opacity: 1; }

.whitespace-padding {
  padding: 54px; }

#navbar {
  max-width: 1200px;
  border-radius: 0 0 12px 12px;
  background-color: #ebeced;
  border-bottom: #af611c 1px solid; }

.nav-logo {
  height: 100%; }

.nav-logo__icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  margin-left: 16px;
  vertical-align: middle; }

.nav-logo__title {
  color: #0f365b;
  height: 100%;
  display: inline-block; }

.site-header {
  width: 100%;
  display: flex;
  color: #af611c; }

.site-header div {
  justify-content: space-between; }

.site-title {
  font-size: 26px;
  font-weight: bold;
  color: inherit; }

.site-tagline {
  display: none; }

#mobile-nav1 {
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 400;
  transition: linear 0.3s; }

#mobile-nav2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 400;
  transition: linear 0.3s; }

.nav-backdrop {
  width: 100%;
  height: 100%;
  background-color: saddlebrown;
  opacity: 0.7; }

.nav-close {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 36px;
  color: #ebeced;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9; }

.menu ul {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0; }

.menu li {
  width: 100%;
  display: inline-block;
  font-size: 26px;
  color: #ebeced;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ebeced; }

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #af611c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

.site-header__wrapper {
  z-index: 1000;
  display: flex;
  width: 100%; }

.site-branding {
  justify-content: space-between; }

.mobile-nav__wrapper {
  justify-content: space-between;
  margin: auto 20px; }

.sticky {
  position: fixed;
  top: 0; }

.sticky + .content {
  padding-top: 60px; }

.nav-menu {
  display: none; }

input[type="search"] {
  background-color: #ebeced;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none; }

::-webkit-input-placeholder {
  /* Edge */
  color: #af611c; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #af611c; }

::placeholder {
  color: #af611c; }

input[type="submit"] {
  margin-left: 8px;
  position: relative;
  top: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ebeced;
  color: #ebeced;
  border-radius: 10px;
  font-weight: bold;
  padding: 4px; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  #whitespace {
    height: 40px; }
  .site-header {
    position: relative;
    color: #af611c; }
  .menu-toggle {
    display: none; }
  .site-tagline {
    color: #3e3e3b; }
  .menuToggle {
    display: none; }
  .nav-menu {
    display: inline-flex;
    align-items: flex-end;
    margin-right: 80px;
    transition: ease-in; }
  .nav-menu__item {
    padding: 16px 26px 18px 16px;
    display: flex; }
  .nav-menu__item:hover {
    color: #0f365b;
    cursor: pointer; }
  input[type="search"] {
    position: relative;
    top: 4px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    border-bottom: 1px solid #af611c; }
  ::-webkit-input-placeholder {
    /* Edge */
    color: #af611c; }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #af611c; }
  ::placeholder {
    color: #af611c; }
  input[type="submit"] {
    position: relative;
    top: 4px;
    background-color: #ebeced;
    border: 1px solid #af611c;
    color: #af611c;
    border-radius: 10px;
    font-weight: normal;
    font-size: 1rem; }
  .sticky {
    position: fixed;
    top: 0; }
  .sticky + .content {
    padding-top: 60px; } }

/* Navigation -- Footer
--------------------------------------------- */
.site-footer {
  border-radius: 12px;
  border-top: 1px solid #af611c;
  background-color: #ebeced;
  margin-top: 40px; }

.site-info {
  margin: 12px auto;
  width: 80%; }

.footer_icons {
  margin-top: 12px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around; }

.footer_icon {
  width: 40px; }

.footer_icon--item {
  width: 100%; }

.footer_links {
  margin: 12px 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.footer_link__item {
  color: #3e3e3b; }

.trademark {
  color: #3e3e3b;
  width: 100%;
  text-align: center;
  padding-bottom: 12px; }

/* Medium devices (Laptops 1024px and up) */

body {
  width: 100vw; }

.page {
  position: relative; }

.site {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ebeced; }

.single-sidebar__wrapper {
  width: 100%; }

.single-video__wrapper {
  max-width: 640px;
  margin: 40px auto; }

.single-video {
  display: block; }

.single-subscribe {
  display: block;
  width: 120px;
  height: 40px;
  float: right; }

.single-content {
  margin: 0 auto;
  margin-top: 60px;
  width: 90%; }

ul {
  list-style-type: none;
  margin-left: 0; }

.single-date {
  padding-left: 12px; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .primary-content__single {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
  .single-title {
    margin-left: 60px;
    margin-bottom: 0; }
  .single-date {
    margin-left: 60px; }
  .single-content__wrapper {
    flex: 1;
    width: 900px; }
  .single-sidebar__wrapper {
    flex: 1;
    margin-right: 40px; } }

/*!
Theme Name: Helix Creations
Theme URI: http://underscores.me/
Author: Colin Hale
Author URI: http://halecolin1.com
Description: Helix Creations
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: helix-creations
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Helix Creations is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
/* Navigation -- Header
--------------------------------------------- */
#whitespace {
  height: 40px;
  width: 100%;
  opacity: 1; }

.whitespace-padding {
  padding: 54px; }

#navbar {
  max-width: 1200px;
  border-radius: 0 0 12px 12px;
  background-color: #ebeced;
  border-bottom: #af611c 1px solid; }

.nav-logo {
  height: 100%; }

.nav-logo__icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  margin-left: 16px;
  vertical-align: middle; }

.nav-logo__title {
  color: #0f365b;
  height: 100%;
  display: inline-block; }

.site-header {
  width: 100%;
  display: flex;
  color: #af611c; }

.site-header div {
  justify-content: space-between; }

.site-title {
  font-size: 26px;
  font-weight: bold;
  color: inherit; }

.site-tagline {
  display: none; }

#mobile-nav1 {
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 400;
  transition: linear 0.3s; }

#mobile-nav2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 400;
  transition: linear 0.3s; }

.nav-backdrop {
  width: 100%;
  height: 100%;
  background-color: saddlebrown;
  opacity: 0.7; }

.nav-close {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 36px;
  color: #ebeced;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9; }

.menu ul {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0; }

.menu li {
  width: 100%;
  display: inline-block;
  font-size: 26px;
  color: #ebeced;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ebeced; }

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #af611c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

.site-header__wrapper {
  z-index: 1000;
  display: flex;
  width: 100%; }

.site-branding {
  justify-content: space-between; }

.mobile-nav__wrapper {
  justify-content: space-between;
  margin: auto 20px; }

.sticky {
  position: fixed;
  top: 0; }

.sticky + .content {
  padding-top: 60px; }

.nav-menu {
  display: none; }

input[type="search"] {
  background-color: #ebeced;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none; }

::-webkit-input-placeholder {
  /* Edge */
  color: #af611c; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #af611c; }

::placeholder {
  color: #af611c; }

input[type="submit"] {
  margin-left: 8px;
  position: relative;
  top: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ebeced;
  color: #ebeced;
  border-radius: 10px;
  font-weight: bold;
  padding: 4px; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  #whitespace {
    height: 40px; }
  .site-header {
    position: relative;
    color: #af611c; }
  .menu-toggle {
    display: none; }
  .site-tagline {
    color: #3e3e3b; }
  .menuToggle {
    display: none; }
  .nav-menu {
    display: inline-flex;
    align-items: flex-end;
    margin-right: 80px;
    transition: ease-in; }
  .nav-menu__item {
    padding: 16px 26px 18px 16px;
    display: flex; }
  .nav-menu__item:hover {
    color: #0f365b;
    cursor: pointer; }
  input[type="search"] {
    position: relative;
    top: 4px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    border-bottom: 1px solid #af611c; }
  ::-webkit-input-placeholder {
    /* Edge */
    color: #af611c; }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #af611c; }
  ::placeholder {
    color: #af611c; }
  input[type="submit"] {
    position: relative;
    top: 4px;
    background-color: #ebeced;
    border: 1px solid #af611c;
    color: #af611c;
    border-radius: 10px;
    font-weight: normal;
    font-size: 1rem; }
  .sticky {
    position: fixed;
    top: 0; }
  .sticky + .content {
    padding-top: 60px; } }

/* Navigation -- Footer
--------------------------------------------- */
.site-footer {
  border-radius: 12px;
  border-top: 1px solid #af611c;
  background-color: #ebeced;
  margin-top: 40px; }

.site-info {
  margin: 12px auto;
  width: 80%; }

.footer_icons {
  margin-top: 12px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around; }

.footer_icon {
  width: 40px; }

.footer_icon--item {
  width: 100%; }

.footer_links {
  margin: 12px 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.footer_link__item {
  color: #3e3e3b; }

.trademark {
  color: #3e3e3b;
  width: 100%;
  text-align: center;
  padding-bottom: 12px; }

/* Medium devices (Laptops 1024px and up) */
/* Front-Page
--------------------------------------------- */
h2 {
  color: #af611c;
  padding-left: 12px; }

.front-page__wrapper {
  padding-top: 20px;
  min-height: 80vh; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }

.scroll-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.post-wrapper {
  flex: 0 0 auto;
  margin: 8px;
  border-radius: 24px;
  width: 300px;
  box-shadow: 10px 10px 15px #c1cbcc, -5px 0px 15px #c1cbcc;
  box-sizing: border-box; }

.image-wrapper {
  width: 90%;
  margin: 8px auto;
  text-align: center;
  vertical-align: center; }

.image-wrapper img {
  box-shadow: 1px 1px 5px #c1cbcc;
  border-radius: 14px; }

.post-image {
  width: 100%;
  height: 100%;
  border-radius: 24px; }

.title-wrapper {
  margin: 8px auto;
  width: 90%;
  color: #af611c; }

.title-wrapper h3 {
  margin: 0;
  font-size: 24px; }

.excerpt-wrapper {
  color: #3e3e3b;
  margin: 8px auto;
  width: 90%;
  height: 90px;
  overflow-wrap: break-word; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 298px;
  max-height: 168px;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sidebar-wrapper {
  display: none; }

.show-more {
  display: none; }

.title-tags {
  font-size: 28px;
  color: #0f365b; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .front-page__wrapper {
    display: inline-flex; }
  .sidebar-wrapper {
    display: flex;
    flex: 1;
    height: 1200px;
    width: 100%;
    background-color: red; }
  .scroll-wrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
    overflow-y: none;
    -webkit-overflow-scrolling: none;
    justify-content: center; }
  .title-tags {
    margin-left: 60px; }
  .post-wrapper {
    margin: 24px; }
  .show-more {
    display: block;
    text-align: center;
    color: #af611c; } }

body {
  width: 100vw; }

.page {
  position: relative; }

.site {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ebeced; }

.single-sidebar__wrapper {
  width: 100%; }

.single-video__wrapper {
  max-width: 640px;
  margin: 40px auto; }

.single-video {
  display: block; }

.single-subscribe {
  display: block;
  width: 120px;
  height: 40px;
  float: right; }

.single-content {
  margin: 0 auto;
  margin-top: 60px;
  width: 90%; }

ul {
  list-style-type: none;
  margin-left: 0; }

.single-date {
  padding-left: 12px; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .primary-content__single {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
  .single-title {
    margin-left: 60px;
    margin-bottom: 0; }
  .single-date {
    margin-left: 60px; }
  .single-content__wrapper {
    flex: 1;
    width: 900px; }
  .single-sidebar__wrapper {
    flex: 1;
    margin-right: 40px; } }

/* Main body */
body {
  width: 100vw; }

.page {
  position: relative; }

.site {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ebeced; }

/* Link css */
a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */ }

a:active,
a:visited {
  color: inherit; }

.page-header {
  display: block; }

.page-content {
  padding: 6px; }

.privacy-content {
  width: 80%;
  margin: 0 auto; }

.single-title {
  color: #0f365b;
  font-size: 28px; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  body {
    margin: 0 auto !important;
    max-width: 1200px; }
  .wpforms-form {
    width: 80%;
    margin: 0 auto; }
  .form-submit {
    color: #af611c !important;
    border: 1px solid #af611c !important; } }
