//Imports
@import 'variables';


/* Navigation -- Header
--------------------------------------------- */

#whitespace{ 
	height: 40px;
	width: 100%;
	opacity: 1;
}

.whitespace-padding {
	padding: 54px;
}

#navbar {
	max-width: 1200px;
	border-radius: 0 0 12px 12px;
	background-color: map-get($map: $colors, $key: light );
	border-bottom: map-get($map: $colors, $key:orange ) 1px solid;
}


.nav-logo {
	height: 100%;
}

.nav-logo__icon {
	display:inline-block;
	height: 50px;
	width: 50px;
	box-sizing: border-box;
	margin-left: 16px;
	vertical-align: middle; 
}

.nav-logo__title {
	color: map-get($map: $colors, $key: logo);
	height: 100%;
	display: inline-block;
}

.site-header {
	width: 100%;
	display: flex;
	color: map-get($map: $colors, $key:orange );
}

.site-header div {
	justify-content: space-between;
}

.site-title {
	font-size: 26px;
	font-weight: bold;
	color: inherit;
}

.site-tagline {
	display: none;
}

#mobile-nav1 {
	position: fixed;
	left: -100vw;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: 400;
	transition: linear 0.3s;
}

#mobile-nav2 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: 400;
	transition: linear 0.3s;
}



.nav-backdrop {
	width: 100%;
	height: 100%;
	background-color: saddlebrown;
	opacity: 0.7;
	
}

.nav-close {
	position: absolute;
	top:0;
	right: 16px;
	font-size: 36px;
	color: map-get($map: $colors, $key: light );
	font-weight: bold;
	padding: 10px;
	opacity: 0.9;
}

.menu ul{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

.menu li {
	width: 100%;
	display: inline-block;
	font-size: 26px;
	color: map-get($map: $colors, $key: light );
	text-align: center;
	padding: 10px;
	font-weight: bold;
	border-bottom: 2px solid map-get($map: $colors, $key: light);
}

//Hamburger styles
.menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
//   background: #cdcdcd;
  background: map-get($map: $colors, $key: orange );
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.site-header__wrapper {
	z-index: 1000;
	display: flex;
	width: 100%;
}

.site-branding {
	justify-content: space-between;
}

.mobile-nav__wrapper {
	justify-content: space-between;
	margin: auto 20px;

}

// .nav-main__wrapper {
// 	display: none;
// }

.sticky {
	position: fixed;
	top: 0;
  }

  .sticky + .content {
	padding-top: 60px;
  }

  .nav-menu {
	display: none;
}

input[type="search"] {
	background-color: map-get($map:  $colors, $key: light);
	border-top-style: none;
	border-right-style:none;
	border-left-style: none;
	border-bottom-style: none;
}

::-webkit-input-placeholder { /* Edge */
color: map-get($map:  $colors, $key: orange);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: map-get($map:  $colors, $key: orange);
}

::placeholder {
color: map-get($map:  $colors, $key: orange);
}

input[type="submit"] {
	margin-left: 8px;
	position: relative;
	top: 2px;
	background-color: rgba(0,0,0,0);
	border: 3px solid map-get($map:  $colors, $key: light);
	color: map-get($map:  $colors, $key: light);
	border-radius: 10px;
	font-weight: bold;
	// font-size: 24px;
	padding: 4px;
}

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {

	#whitespace {
		height: 40px;
	}

	.site-header {
		position: relative;
		color: #af611c;
	}

	.menu-toggle {
		display: none;
	}

	.site-tagline {
		color: #3e3e3b;
	}

	.menuToggle {
		display: none;
	}

	.nav-menu {
		display: inline-flex;
		align-items: flex-end;
		margin-right: 80px;
		transition: ease-in;
	}

	.nav-menu__item {
		padding: 16px 26px 18px 16px;
		display: flex;
	}

	.nav-menu__item:hover {
		color: map-get($map: $colors, $key: logo);
		cursor: pointer;
	}

	input[type="search"] {
		position: relative;
		top: 4px;
		// background-color: red;
		border-top-style: none;
		border-right-style:none;
		border-left-style: none;
		border-bottom-style: groove;
		border-bottom: 1px solid map-get($map:  $colors, $key: orange);
	}

	::-webkit-input-placeholder { /* Edge */
	color: map-get($map:  $colors, $key: orange);
	}
	
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: map-get($map:  $colors, $key: orange);
	}
	
	::placeholder {
	color: map-get($map:  $colors, $key: orange);
	}

	input[type="submit"] {
		position: relative;
		top: 4px;
		background-color: map-get($map: $colors, $key: light);
		border: 1px solid map-get($map:  $colors, $key: orange);
		color: map-get($map:  $colors, $key: orange);
		border-radius: 10px;
		font-weight: normal;
		font-size: 1rem;
	}

	.sticky { 
		position: fixed;
		top: 0;
	  }
	
	  .sticky + .content {
		padding-top: 60px;
	  }
}

/* Navigation -- Footer
--------------------------------------------- */

.site-footer {
	border-radius: 12px;
	border-top: 1px solid map-get($map: $colors, $key: orange);
	background-color: map-get($map: $colors, $key:light );
	margin-top: 40px;
}

.site-info {
	margin: 12px auto;
	width: 80%;
}

.footer_icons {
	margin-top: 12px;
	width: 100%;
	// max-width: 440px;
	display: inline-flex;
	justify-content: space-around;
}

.footer_icon {
	width: 40px;
}

.footer_icon--item{
	width: 100%;
}

.footer_links {
	margin: 12px 0;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer_link__item {
	color: map-get($map: $colors, $key: dark );
}

.trademark {
	color: map-get($map: $colors, $key: dark );
	width: 100%;
	text-align: center;
	padding-bottom: 12px;
}

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {

}