@import 'variables';

.single-video__wrapper{
    max-width: 640px;
    margin: 40px auto;
 }

 .single-video {
     display: block;
 }

 .single-subscribe{
     display: block;
     width:120px;
     height: 40px;
     float: right;
 }

 ul {
    list-style-type:none;
    margin-left: 0;
 }
 
 .single-date {
    padding-left: 12px;
}

.single-title {
	color: map-get($map: $colors, $key: logo);
	font-size: 28px;
}

h2 {
    //style h2 tags in content area
    color: map-get($map: $colors, $key: orange);
}

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
    .single-title{
        margin-left: 60px;
        margin-bottom: 0;
    }
}